---
import { CollectionEntry, getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import Layout from "../../layouts/Layout.astro";
import {dateTimeFormat} from "astro/dist/core/logger/core";
import { Container } from '@tnf-workspace/react-components'

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout>
	<div class='mt-10 mb-80p*200p'>
      <Container>
          <section>
              <div class="text-accent-big uppercase text-primary">Blog</div>
              <ul class="blog-list">
								{
									posts.map((post) => (
                          <li>
                              <a href={`/blog/${post.slug}/`}>
		                              <div class='aspect-video w-full'>
				                              <img src={post.data.cover} class="w-full h-full object-cover" />
		                              </div>
		                              <div class='mt-5 flex items-center'>
				                              <div class="w-[30px] h-[30px] rounded-full overflow-hidden">
						                              <img src={post.data.author.avatar} class="w-full h-full object-cover" />
				                              </div>
				                              <div class="ml-2 text-[14px] leading-1">{post.data.author.name}</div>
				                              <div class='ml-auto text-[14px] leading-1'>
                                          <FormattedDate date={post.data.pubDate} />
				                              </div>
		                              </div>
                                  <h4 class="title mt-4 text-h6 line-clamp-2">{post.data.title}</h4>
																	<div class="italic text-[14px] font-thin mt-1 text-orange-200 line-clamp-2">{post.data.subTitle}</div>
                              </a>
                          </li>
									))
								}
              </ul>
          </section>
      </Container>
	</div>
</Layout>

<style>
	.blog-list {
			@apply mt-12;
			padding: 0;
			display: grid;
			justify-content: space-between;
			gap: 32px;

			@media (min-width: 840px) {
          grid-template-columns: repeat(2, 1fr);
          gap: 64px;
			}

			@media (min-width: 1200px) {
          grid-template-columns: repeat(3, 1fr);
          gap: 40px;
			}

			@media (min-width: 1440px) {
          gap: 100px;
			}
	}

	.title {
			@apply line-clamp-2;
			font-size: 16px;
	}
</style>
